.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboardContainer {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    width: 100%;
}

.link {
    background-color: #26547C;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: auto;
}


.button {
    width: 100%;
    height: auto;
    border-radius: 10%;
    text-align: center;
    padding: 20px;
    display: inline-block;
    font-size: large;
    background-color: #2EC4B6;

}

.addButton {
    width: 80%;

}